header {
    gap: 8.25rem;
    margin-top: 75px;
}

header .header-description {
    width: 50%;
    gap: 69px;/*nice*/
}

header .header-img {
    width: 50%;
    border-radius: 0 60px;
    overflow: hidden;
}

header .header-img img {
    width: 100%;
}

main {
    margin: 46px 0;
}

main .post-list {
    width: 100%;
    row-gap: 93px;
}

main .post-list li {
    width: 548px;
}