* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  list-style: none;
}

:root {
  --color-grey-100: #212529;
  --color-grey-200: #495057;
  --color-grey-300: #5B636C;
  --color-grey-400: #808387;
  --color-grey-500: #dee2e6;
  --color-grey-600: #e9ecef;
  --color-grey-700: #f1f3f5;
  --color-grey-800: #f8f9fa;
  --color-brand-100: #087f5b;
  --color-brand-200: #099268;
  --font-size-1: 2.5rem;
  --font-size-2: 1.75rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1rem;
}

body {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.living-icon {
  width: 30px;
  height: 22px;
  background-color: var(--color-brand-100);
  border-radius: 0 6px;
}
